<h1>Welcome to the</h1>

<h1>Anagram Generator</h1>

 <h3>Show me the anagrams!</h3>

<form action="/" method="post" class="form">
  <label for="word">Enter a word. Only 3 letters please!</label>
  <input type="text" name="word">
  <input type="submit" class="btn">
</form>
