<h2>Anagrams for <%= "#{@word}" %></h2>
<ul style ="list-style-type:square">
  <!--(loop through @anagrams and print out each one inside a list tag) -->
  <strong><li> <%= "#{@anagrams}" %> </li></strong>
</ul>  
