<title>Numerology App</title>
<!DOCTYPE HTML>
<html>
<head>
	<title>My Numerology App</title>
</head>
<body>
	<div class="container">
<div class="header">
<h1>A Numerology Calculator App - <small>A Skillcrush 204 Project</small></h1>
</div>
 
<hr />
	<%= yield %>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="footer"> 
	<div class= "col-md-8"<h6>About the Developer:</h6>
	<p><small>She's quirky, multi-faceted writer, spiritualist and runner, who is learining to code. Vivia la difference!</small></p>
</div></div>
	</body>
	</html>