<title>Numerology App</title>
<!DOCTYPE HTML>
<html>
<head>
	<title>My Numerology App</title>
	<link rel="stylesheet" href="/css/people.css">	
</head>

<nav>
 <large><strong><em><p><a href="http://localhost:9292/">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://localhost:9292/people/new">Add</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://localhost:9292/people">Edit/Delete</a></p></em></strong></large>
</nav>
<hr>
<header>
<div class="container">
<div class="header">
<h1>A Numerology Calculator App - <small>Learn your numbers!</small></h1>
</div></div>

</header>
<body>

	
 <div>
<hr>
	<%= yield %>

</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>
<footer> 
	<div class= "col-md-8"<h6>About the Developer:</h6>
	<p><small>She is a quirky, multi-faceted woman who writes, runs and studies spiritual topics. In addition, she is learining to code. Here is the result. Vivia la difference!</small></p>
</div></footer>
	</body>
	</html>